.ipynb_checkpoints
.venv*
 
DSE/RecommendationSystems/ml-25m/
DSE/RecommendationSystems/dataset.zip
DSE/DeepLearning/data.zip
DSE/DeepLearning/data/
DSE/DeepLearning/samples/
DSE/DeepLearning/bookcorpus_tokenizer.json
DSE/DeepLearning/local.tf/
DSE/DeepLearning/model.tf/
DSE/PageRank/dataset.txt

